@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');


* {
    box-sizing: border-box;
}
body {
    font-family: Fredericka, Verdana, Tahoma, sans-serif;
    font-size: clamp (1rem, 3vw, 2rem);
    background-color: black;
    color: white;


}
header {
    border: 1px solid pink;
   
}
li {
    display: inline;
    margin: .0.5rem;
}   
ul {
    list-style-type: none;
    
}

.header_flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    align-items: center;
    
  
}
main {
    border: 1px solid pink;
    padding: 1%;
    

}

.nov1_flex {
    display: flex;
    flex-direction:column;
    justify-content: space-around;    
    align-items: last baseline;
}


.nov2_flex {
    display: flex;
    flex-direction:column;
    justify-content: left;    
    align-items: last baseline;
}



section {
    border: 1px solid pink;
    margin: 1%;
}


.novedades{
    text-align: center;
    color: blueviolet;
}
.grid_ubi {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    grid-template-areas: 
    'itemubi itemcontacto';
}
.itemubi {
    grid-area: itemubi;
    margin-inline: 2rem;
    text-align: center; 
    max-height: fit-content;
}
.itemcontacto {
    grid-area: itemcontacto;
    margin-inline: 1rem;
    text-align: center; 
    
}
.contactanos{
    align-items: stretch;
}
.grid_comentarios {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 2rem;
    grid-template-areas: 
    'item1 item2 item3' 
    'item4 item5 item6';
}
.grid_comentarios > div {
    border: 1px solid pink;
    padding: 2%;
}
.item1 {
    grid-area: item1;
    margin-inline: 2rem;
    text-align: center; 

}
.item2 {
    grid-area: item2;
    margin-inline: 2rem;
    text-align: center;
}
.item3 {
    grid-area: item3;
    margin-inline: 2rem;
    text-align: center;
}
.item4 {
    grid-area: item4;
    margin-inline: 2rem;
    text-align: center;
}
.item5 {
    grid-area: item5;
    margin-inline: 2rem;
    text-align: center;
}
.item6 {
    grid-area: item6;
    margin-inline: 2rem;
    text-align: center;
}


footer {
    border: 1px solid pink;
    text-align: center;
}
.presentacion {
    padding: 4% 10%;
    color: aqua;
    text-align: center;
}
textarea {
    font-family: Fredericka, Verdana, Tahoma, sans-serif;
}
.form_container {
    text-align: center;
}
.ubi_container {
    text-align: center;
}



@media (300px < width <= 1080px) {
    body {
        background-color: gray;
    }
.grid_ubi {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    grid-template-areas: 
    'itemubi' 
   'itemcontacto';
}
.grid_comentarios {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
   'item1 item1'
   'item2 item2'
   'item3 item3'
   'item4 item4'
   'item5 item5'
   'item6 item6';
}
}

.card_container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    text-align: center;
    color: white;
    
}
.card{
    border: 1px solid black;
    border-radius:5px;
    min-width: 300px;
    flex: 1;
    background-color: rgb(48, 47, 47);
    text-align: center;
    color:white;
   
}
.description{
    display: none;
    border: 5px solid black;
    background-color: rgb(245, 150, 182);
    color: white;
    border-radius: 24px;
    padding: 1rem;
    text-align: center;
    
}
.tituloColection{
    text-align: center;
    color: rgb(160, 12, 235);
    
}
